{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}
<!-- Confirmed, Recovered, Deaths Card -->
<div class="row">
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{context.total_all_confirmed}}</h3>

                <p>Total Confirmed</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{context.total_all_recovered}}<sup style="font-size: 20px"></sup></h3>

                <p>Total Recovered</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{context.total_all_deaths}}</h3>

                <p>Total Deaths</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- Altair plot placeholder -->
<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col-6">
            <!-- Placeholder for map-->
            <div id="geo"></div>
        </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <!-- Placeholder for the global-cases plot-->
        <div id="global-cases"></div>
    <hr>
    <div class="row">
        <!-- Placeholder for global-time series -->
        <div id="global-time"></div>
    </div>
    <!-- Placeholder for the tooltip -->
    <div id="vis-tooltip" class="vg-tooltip"></div>
</div>
<!-- Render Charts -->
<script type="text/javascript">
    function parse(url, div) {
        var opt = {
            mode: "vega-lite",
            renderer: "svg",
            actions: { export: true, source: false, editor: false }
        };
        vegaEmbed("#" + div, url, opt, function (error, result) {
            // result.view is the Vega View, url is the original Vega-Lite specification
            vegaTooltip.vegaLite(result.view, url);
        });
    }
    //Parse your Json variable here
    parse({{ context.plot_geo_analysis | safe }}, "geo")
    parse({{ context.plot_global_cases_per_country | safe }}, "global-cases")
    parse({{ context.plot_global_time_series | safe }}, "global-time");
</script>
{% endblock my_content %}