{% extends "layout.html" %}
{% block script %}
<!-- Code for world map-->
<script src="https://code.highcharts.com/maps/highmaps.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
<style>
    /* Add some padding on document's body to prevent the content
        to go underneath the header and footer */
#container {
    height: 500px; 
    width: 800px; 
    margin: 0 auto; 
}

.highcharts-tooltip>span {
    padding: 10px;
    white-space: normal !important;
    width: 200px;
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

.f32 .flag {
    vertical-align: middle !important;
}
</style>
{% endblock script %}

{% block my_content %}
<!-- Confirmed, Recovered, Deaths Card -->
<div class="row">
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{context.total_all_confirmed}}</h3>
    
                <p>Total Confirmed</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{context.total_all_recovered}}<sup style="font-size: 20px"></sup></h3>

                <p>Total Recovered</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{context.total_all_deaths}}</h3>

                <p>Total Deaths</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>

<!-- Map Container-->
<div id="container"></div>

<!-- other global per country and time series chart.js canvas -->
<div style="position: absolute; height:30vh; width:70vw">
    <canvas id="myChart"></canvas>
    <canvas id="timeSeriesChart"></canvas>
</div>

<!-- Script for map analysis using Highcharts (not chartjs)-->
<script>
    //Put custom data here
    var datamap = {{context.datamap|safe}}
    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {

            // Prevent logarithmic errors in color calulcation
            data.forEach(function (p) {
                p.value = (p.value < 1 ? 1 : p.value);
            });

            // Initiate the chart
            Highcharts.mapChart('container', {

                chart: {
                    map: 'custom/world'
                },

                title: {
                    text: 'Total confirmed cases'
                },

                legend: {
                    title: {
                        text: 'Total confirmed cases',
                        style: {
                            color: ( // theme
                                Highcharts.defaultOptions &&
                                Highcharts.defaultOptions.legend &&
                                Highcharts.defaultOptions.legend.title &&
                                Highcharts.defaultOptions.legend.title.style &&
                                Highcharts.defaultOptions.legend.title.style.color
                            ) || 'black'
                        }
                    }
                },

                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },

                tooltip: {
                    backgroundColor: 'none',
                    borderWidth: 0,
                    shadow: false,
                    useHTML: true,
                    padding: 0,
                    pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                        '</span></span> {point.name}<br>' +
                        '<span style="font-size:20px">{point.value} cases</span>',
                    positioner: function () {
                        return { x: 0, y: 250 };
                    }
                },

                colorAxis: {
                    min: 1,
                    max: 10000000,
                    type: 'logarithmic'
                },

                series: [{
                    //call the custom data here
                    data: datamap,
                    joinBy: ['iso-a3', 'code3'],
                    name: 'Total confirmed cases',
                    states: {
                        hover: {
                            color: '#a4edba'
                        }
                    }
                }]
            });
        });
</script>

<!-- Script for global per country and time series analysis -->
<script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var mixedChart = new Chart(ctx, {
            type: 'bar',
            data: {
                datasets: [{
                    label: "# of confirmed",
                    //call the list form of dataset here
                    data: {{ context.total_values[:100]|safe }},
                    backgroundColor: 'rgba(255, 99, 132, 0.7)',
                    yAxisID: 'y-axis-1',
                    borderColor:'rgba(255, 99, 132, 1)',
            // this dataset is drawn below
            order: 1
        }, {
            label: 'cases per million',
             //call the list form of dataset here
            data: {{ context.cases_per_million[: 100]|safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.7)',
            borderColor: 'rgba(54, 162, 235, 1)',
            yAxisID: 'y-axis-2',
            type: 'line',
            // this dataset is drawn on top
            order: 2
        }],
        labels: {{ context.countries[: 100]|safe }}
        },
        options: {
                responsive: true,
                    title: {
                    display: true,
                        text: 'Chart.js Bar Chart - Multi Axis'
                },
                tooltips: {
                    mode: 'index',
                        intersect: true
                },
                scales: {
                    xAxes: [{
                        ticks: {
                            autoSkip: false
                        }
                    }],
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',
                        gridLines: {
                            drawOnChartArea: false
                        }
                    }],
					}
            }
    });
</script>
<script>
    var ctx = document.getElementById('timeSeriesChart').getContext('2d');

    var labels = {{ context.timeseries_dates| safe }};

    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels,
            datasets: [{
                label: '# daily new confirmed',
                data: {{ context.confirmed_timeseries | safe }},
                borderWidth: 5,
                fill: false,
                borderColor: '#fc8403'
            }, {
                label: '# daily new death',
                data: {{ context.death_timeseries | safe }},
                borderWidth: 5,
                fill: false,
                borderColor: '#fc0367'
            }, {
                    label: '# daily new recovered',
                    data: {{ context.recovered_timeseries | safe }},
                    borderWidth: 5,
                    fill: false,
                    borderColor: '#03fc84'
                }
            ]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Timeseries'
            },
            tooltips: {
                mode: 'index',
                intersect: true
            }}
    });

</script>
{% endblock my_content %}