{% extends "layout.html" %}
{% block script %}
<!-- 
put your custom script or styling here

-->
{% endblock script %}


{% block my_content %}
<!-- Confirmed, Recovered, Deaths Card -->
<div class="row">
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>{{context.total_all_confirmed}}</h3>

                <p>Total Confirmed</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-success">
            <div class="inner">
                <h3>{{context.total_all_recovered}}<sup style="font-size: 20px"></sup></h3>

                <p>Total Recovered</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
    <!-- ./col -->
    <div class="col-sm">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3>{{context.total_all_deaths}}</h3>

                <p>Total Deaths</p>
            </div>
        </div>
    </div>
    <!-- ./col -->
</div>
<!-- Plotly plot placeholder -->
<div class="container-fluid">
    <div class="row">
        <div class="col">
        </div>
            <div class="col-6">
                <!-- Placeholder for map-->
                <div class="chart" id="plotly-geo">
                </div>
            </div>
        <div class="col">
        </div>
    </div>
        <div class="row">
        <!-- Placeholder for the global-cases plot-->
            <div class="chart" id="plotly-global">
            </div>
        </div>
        <hr>
        <div class="row">
            <!-- Placeholder for global-time series -->
            <div id="plotly-timeseries"></div>
        </div>
    </div>
</div>
<!-- Script to execute the Json ( we can create it also with looping) -->
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_geo_analysis | safe }};
    Plotly.plot('plotly-geo', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_global_cases_per_country | safe }};
    Plotly.plot('plotly-global', graphs, {});
</script>
<script>
    //Parse your Json variable here
    var graphs = {{ context.plot_global_time_series | safe }};
    Plotly.plot('plotly-timeseries', graphs, {});
</script>
{% endblock my_content %}